<div
style="
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    flex-wrap: nowrap;
"
>
    <div
    style="min-width: 300px;">
        {{ include('filter.twig') }}
    </div>
    <div style="width:100vw;height: 100vh;
    max-width: 100%;
    max-height: 100%;">
        {{ include('mapbox.twig') }}
    </div>
</div>